:root {
    --main-1: #f22f27;
    --main-2: #ff887a;
    --main-3: #cc1616;
    --main-4: #338eca;
    --main-5: #4c991b;
}

/* 卡片基本样式 */
.card {
    font: 20px/30px serif, 'Noto Serif CJK SC';
}

/* 标题样式 */
.title {
    font-size: 12px;
    color: gray;
    float: right;
    height: 20px;
    font-style: italic;
}

/* h1 样式 */
.h1 {
    position: relative;
    border: none;
    font-size: 1em;
    font-style: normal;
    padding: 24px 16px 12px;
    margin: 24px 0 36px;
    line-height: 1.6;
    text-indent: 0;
		letter-spacing: 0.5px;
}

/* 引用块样式 */
.h1 blockquote {
    padding-right: 0;
}
.shuffle-option {
    font-size: 0.8em; /* 调整字体大小 */
    color:#101010;   /* 设置字体颜色 */
}


/* 引号样式 */
.xleft:before, .yleft:before, .zleft:before {
    content: "“";
    position: absolute;
    left: 12px;
    top: 0;
    font-size: 2em;
    font-family: Arial, serif;
    line-height: 1em;
    font-weight: 700;
}
.xleft:before {
    color: var(--main-1);
}
.yleft:before {
    color: var(--main-4);
}
.zleft:before {
    color: var(--main-5);
}

/* 左边框样式 */
.xleft {
    border-left: 2px solid var(--main-1);
}
.yleft {
    border-left: 2px solid var(--main-4);
}
.zleft {
    border-left: 2px solid var(--main-5);
}
.xxleft {
    border-left: 2px solid var(--main-1);
}

/* 高亮样式 */
#hhh, u {
    color: var(--main-1);
    border-bottom: 1px solid var(--main-1);
    -webkit-animation: cloze 0.4s 0s;
    -webkit-animation-fill-mode: forwards;
}

.mobile .h2 {
    overflow-x: auto;
    overflow-y: hidden;
}

#hh {
    color: rgba(0,0,0,0);
    border-bottom: 1px solid var(--main-1);
}

/* 表格样式 */
table {
    border-collapse: collapse;
    border-top: 1px solid #ccc;
    width: 100%;
}
table, th, tr, td {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}
thead {
    text-align: justify; /* 表头两端对齐 */
}

#time {
    font-family: serif;
    float: right;
}

/* 链接颜色 */
.xleft a {
    color: var(--main-1);
}
.yleft a {
    color: var(--main-4);
}
.zleft a {
    color: var(--main-5);
}

img {
    max-width: 100%;
    vertical-align: middle;
}
.chrome img {
    max-width: 100%;
    vertical-align: middle;
}
ul, ol {
    margin-top: 0em;
}
li {
    margin-left: -0.5em;
}
i {
    font-family: palatino;
    padding: 0 3px 0 0;
}
u {
    text-decoration: none;
}
uu {
    border-bottom: 1px solid #ec6c4f;
}
hr {
    height: 1px;
    width: 100%;
    display: block;
    border: 0px solid #fff;
    vertical-align: middle;
    margin: 10px 0px 10px 0px;
}
.xleft hr {
    background-color: var(--main-1);
}
.yleft hr {
    background-color: var(--main-4);
}
.zleft hr {
    background-color: var(--main-5);
}

/* 夜间模式（Android） */
body.night_mode {
    background-color: black;
    color: white;
}
.night_mode .card {
    background-color: black;
    color: white;
}
.night_mode img {
    opacity: 0.9;
    filter: invert;
}

/* 动画效果 */
.slide {
    position: relative;
    -webkit-animation: slide 1s 0s;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes slide {
    0% { opacity: 0; top: 100px; }
    50% { opacity: 0.8; top: -10px; }
    100% { opacity: 1.0; top: -3px; }
}

@-webkit-keyframes cloze {
    from { opacity: 0; }
    to { opacity: 1; }
}
button {
  appearance: none; /* 移除默认样式 */
  -webkit-appearance: none; /* 针对WebKit浏览器 */
  -moz-appearance: none; /* 针对Firefox */

  background-color: #007BFF; /* 设置背景颜色 */

  padding: 10px 20px; /* 设置内边距 */
  border-radius: 10px; /* 设置圆角 */
  cursor: pointer; /* 鼠标悬停样式 */
  font-size: 16px; /* 设置字体大小 */
  transition: background-color 0.3s; /* 设置过渡效果 */
}

button:hover {
  background-color: #0056b3; /* 悬停时背景颜色 */
}

button:focus {
  outline: none; /* 移除焦点时的轮廓 */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* 添加自定义焦点效果 */
}
/* 通用选项按钮样式 */
.options button {
    background-color: transparent;
    border: 1px solid var(#101010);
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    text-align: left;
    font-size: 0.9em;
    cursor: pointer;
    display: flex;
    justify-content: space-between; /* 使内容两端对齐 */
    align-items: center; /* 垂直居中 */
		font-weight: 350;
    letter-spacing: 1px;
		line-height: 1.5;
}

/* 正面选中按钮样式 */
.options button.selected {
    background-color: default;
    color: #27bd9f;
    border-color: #27bd9f;
}

/* 背面正确选项样式 */
.options button.correct {
    background-color: #27bd9f;
    color: white;
    cursor: default;
		pointer-events: none;
}

/* 背面选择错误的选项样式 */
.options button.incorrect {
    background-color: white;
    color: black;
    cursor: default;
		pointer-events: none;
}

/* 背面未选择但错误的选项样式 */
.options button.missed {
    background-color: #27bd9f;
    color: white;
    cursor: default;
		pointer-events: none;
}

.h2 strong {
    font-weight: bold;
}
/* 胶囊式开关样式 */
.switch {
  position: relative;
  display: inline-block;
  width: 55px; /* 设置宽度 */
  height: 30px; /* 设置高度 */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 30px; /* 调整圆角 */
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px; /* 调整滑块高度 */
  width: 22px; /* 调整滑块宽度 */
  left: 4px; /* 调整滑块位置 */
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--main-1);
}

input:checked + .slider:before {
  transform: translateX(25px); /* 调整滑块移动距离 */
}
